.spaceContainer {
  display: flex;
  flex: 1;
  height: 100%;
  background-image: url("../assets/Web 1920 – 1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  flex-direction: column;
}
.spaceTextItemBold {
  color: white;
  font-weight: bold;
  font-size: 150%;

}
.spaceTextItem {
  color: white;
}
.title {

  text-align: center;
  align-self: center;
  width: 55%;
  height: 100%;
  color: white;
  font-size: 400%;
}
.spaceHeaderContainer {

  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: "red";
}
.spaceRocketContainer {
  display: flex;
  flex: 3;
  flex-direction: column;
}
$margin_left: 20px;

.spaceImage {
  margin-left: $margin_left;
  border-radius: 50%;
  height: 150px;
  aspect-ratio: 1/1;
  content: url("https://upload.wikimedia.org/wikipedia/commons/9/9a/Soyuz_TMA-9_launch.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.spaceText {
  color: #ffffff;
}

.gridItem {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  height: 500px;
  aspect-ratio: 3/4;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}
.upperHalf {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.upperHalfChild {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.downHalf {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: start;
  justify-items: start;

  p {
    margin-left: $margin_left;
    margin-right: $margin_left;
  }
}

.spaceGrid {
  align-self: center;
  padding: 1%;
  margin-top: 2%;
  margin-right: 8%;
  margin-left: 8%;
  display: grid;
  flex: 1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.btn_con {
  //border: blue 5px solid;
  width: 95%;
  height: 100%;

  display: flex;
  justify-content: flex-end;

  align-items: center;

  .continue {
    border: none;
    outline: none;
    background-image: linear-gradient(to bottom right, #FF512F,#DD2476);

    width: 50%;
    height: 60%;

    border-radius: 50px;

    transition: all 0.2s ease-in-out;

    color: white;
    font-size: 20px;

    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1);
    }
  }
}
